<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Manager History</title>
</head>
<body>
<table border="1">
    <tr>
        <td>SeasonName</td>
        <td>TotalPoints</td>
        <td>Rank</td>
    </tr>
    <tr th:each="managerPastHistory : ${managerHistory.getPast()}">
        <td th:text="${managerPastHistory.getSeason_name()}">SeasonName</td>
        <td th:text="${managerPastHistory.getTotal_points()}">TotalPoints</td>
        <td th:text="${managerPastHistory.getRank()}">Rank</td>
    </tr>
</table>
</body>
</html>